.bio {
  margin: 31px 0;
}

.bio_image {
  @media only screen and (min-width: 600px) {
    max-width: 200px;
  }
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.bio_grid {
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 30px;
  }
}