h3 {
  padding: 30px 0 8px;
  position: relative;
}
h3:before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 16px;
  width: 95%;
  height: 21px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}

.space-above {
  margin-top: 3em;
}

.title-font {
  font-family: 'IM FELL Great Primer', 'Open Sans', serif;
  text-transform: uppercase;
}